@charset "UTF-8"; //한글 주석 처리를 위해

@font-face {
	font-family: NanumGothic-Regular;
	src: local('jisystem'), url('~@/assets/fonts/NanumGothic/NanumGothic.woff') format('woff'),
		url('~@/assets/fonts/NanumGothic/NanumGothic.otf') format('otf');
}

@font-face {
	font-family: NanumGothic-Light;
	src: local('jisystem'), url('~@/assets/fonts/NanumGothic/NanumGothicLight.woff') format('woff'),
		url('~@/assets/fonts/NanumGothic/NanumGothicLight.otf') format('otf');
}

@font-face {
	font-family: NanumGothic-Bold;
	src: local('jisystem'), url('~@/assets/fonts/NanumGothic/NanumGothicBold.woff') format('woff'),
		url('~@/assets/fonts/NanumGothic/NanumGothicBold.otf') format('otf');
}

@font-face {
	font-family: NanumGothic-ExtraBold;
	src: local('jisystem'), url('~@/assets/fonts/NanumGothic/NanumGothicExtraBold.woff') format('woff'),
		url('~@/assets/fonts/NanumGothic/NanumGothicExtraBold.otf') format('otf');
}

.font-Nanum {
	&Regular {
		font-family: NanumGothic-Regular;
	}
	&Bold {
		font-family: NanumGothic-Bold;
	}
	&ExtraBold {
		font-family: NanumGothic-ExtraBold;
	}
}
